<!DOCTYPE html>
<html lang="pt-BR" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{/components/base :: head}"></head>
<body class="bg-light">
  <header>
    <nav th:replace="~{/components/navbar :: navbar}"></nav>
  </header>

  <!--TODO - pegar produto pelo codigo de barras-->
  <form method="get" th:action="@{/produtos/}" th:object="${String}">
    <div class="m-3 d-flex">
      <input placeholder="Pesquisar pelo código de barras..." type="text" class="m-3 form-control" id="barcode">
      <button type="submit" class="btn btn-dark m-3">Pesquisar</button>
    </div>
  </form>

  <div class="card-group">
    <div class="card m-3" th:each="produto : ${produtos}">
      <div class="card-header text-white bg-dark">
        <h5 class="card-title" th:text="${produto.nome}"></h5>
      </div>
      <div class="card-body">
        <p class="card-text" >
          <b> Codigo de barras: </b>
          <span th:text="${produto.codBarras}"></span>
        </p>
        <p class="card-text" >
          <b> Valor: </b>
          <span th:text="${produto.valor}"></span>
        </p>
        <p class="card-text" >
          <b> Quantidade: </b>
          <span th:text="${produto.quantidade}"></span>
        </p>
        <p class="card-text"><small class="text-muted" th:text="${#temporals.format(produto.vencimento, 'dd/MM/yyyy')}"></small></p>
      </div>
    </div>
  </div>
  <script th:replace="~{/components/base :: script}"></script>
</body>
</html>