<!DOCTYPE html>
<html lang="pt-BR" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{components/base :: head}"></head>
<body>
<header>
    <nav th:replace="~{/components/navbar :: navbar}"></nav>
</header>

<main class="d-flex justify-content-center mt-3">
    <form class="border border-dark rounded-3 p-3 w-50" th:object="${novoProdutoDTO}" action="/produtos" method="post">
        <h3 class="display-6 mb-3 border-bottom">Novo produto</h3>
        <div class="mb-3 d-flex flex-column">
            <label for="nome">Nome do produto</label>
            <input type="text" id="nome" name="nome">
        </div>
        <div class="mb-3 d-flex flex-column">
            <label for="codbarras">Código de barras</label>
            <input type="text" id="codbarras" name="codbarras">
        </div>
        <div class="mb-4 d-flex flex-column">
            <label for="valor">Valor do produto</label>
            <input type="text" id="valor" name="valor">
        </div>
        <div class="mb-3 d-flex justify-content-between">
        <div class="mb-3">
            <label for="quantidade">Quantidade</label>
            <input type="text" id="quantidade" name="quantidade">
        </div>
        <div class="mb-3">
            <label for="dtaVencimento">Data de vencimento</label>
            <input type="date" id="dtaVencimento" name="dtaVencimento">
        </div>
        </div>
        <div class="mb-3">
            <button class="btn btn-dark btn-lg btn-block w-100" type="submit">Adicionar</button>
        </div>
    </form>
</main>

</body>
</html>